/target

# C++ project files and binaries
/cpp/lib
/cpp/nbproject
/cpp/bin
*.exe

# IDE settings
/.settings
.classpath
.project

/.idea
olca-eigen.iml

# compiled libraries for the JAR (have to be added when building the library)
/src/main/resources/lib
/bin
